name: Upload to Azure Blob Storage

on: 
    push:
        branches: ["main"]

env:
  APP_NAME: flask-app
  IMAGE_TAG: ${{ github.repository_id }}

permissions:
    id-token: write
    contents: read

jobs:
    upload:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker Image
              run: |
                docker build -t $APP_NAME:$IMAGE_TAG .

            - name: Azure Login
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Login to ACR
              run: |
                az acr login --name ${{ secrets.ACR_NAME }}

            # - name: Docker login to ACR
            #   run: |
            #     docker login ${{ secrets.ACR_NAME }}.azurecr.io \
            #     -u ${{ secrets.ACR_USERNAME }} \
            #     -p ${{ secrets.ACR_PASSWORD }}  

            - name: Push Docker Image to ACR
              run: |
                docker tag $APP_NAME:$IMAGE_TAG ${{ secrets.ACR_NAME }}.azurecr.io/$APP_NAME:$IMAGE_TAG
                docker push ${{ secrets.ACR_NAME }}.azurecr.io/$APP_NAME:$IMAGE_TAG 

