name: Deploy to Azure App Service

on:
  push:
    branches: ["main"]

env:
  APP_NAME: flask-app
  IMAGE_TAG: ${{ github.repository_id }}

permissions:
    id-token: write
    contents: read

jobs:
  build:
    name: Build Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get secrets from Key Vault
        id: get-azure-keyvault-secrets
        uses: copdips/get-azure-keyvault-secrets-action@v1
        with:
          keyvault: flask-app-locker
              
      - name: Login to ACR
        run: |
          az acr login --name $ACR_USERNAME
 
      - name: Build and push Docker image
        run: |
          docker buildx build \
            --platform linux/amd64 \
            -t $ACR_LOGIN_SERVER/$APP_NAME:$IMAGE_TAG \
            --push .


  test:
    name: Smoke Test Image
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Get secrets from Key Vault
        id: get-azure-keyvault-secrets
        uses: copdips/get-azure-keyvault-secrets-action@v1
        with:
          keyvault: flask-app-locker

      - name: Login to Azure Container Registry
        run: |
          az acr login --name $ACR_USERNAME

      - name: Pull image for validation
        run: |
          docker pull $ACR_LOGIN_SERVER/$APP_NAME:$IMAGE_TAG

      - name: Run container smoke test
        run: |
          docker run -d -p 5000:5000 --name flask-test \
            $ACR_LOGIN_SERVER/$APP_NAME:$IMAGE_TAG
          sleep 10
          docker ps | grep flask-test


  deploy:
    name: Deploy to Azure App Service
    runs-on: ubuntu-latest
    needs: test

    steps:
      - name: Azure Login (OIDC)
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy to Azure App Service
        uses: azure/webapps-deploy@v3
        with:
          app-name: librarymanagement
          images: ${{env.ACR_LOGIN_SERVER}}/${{env.APP_NAME}}:${{env.IMAGE_TAG}}

          