name: Upload to Azure Blob Storage

on: 
    push:
        branches: ["main"]

env:
  APP_NAME: flask-app
  IMAGE_TAG: ${{ github.repository_id }}

permissions:
    id-token: write
    contents: read

jobs:
    upload:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Build Docker Image
              run: |
                docker build -t $APP_NAME:$IMAGE_TAG .

            - name: Azure Login (OIDC)
              uses: azure/login@v2
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

            - name: Fetch secrets from Key Vault
              uses: vinayaja/keyvault-secrets@v1.0.1
              with:
                keyvault-name: 'implocker'
                secret-names: 'acr-username,acr-pass'
              
            - name: Login to ACR
              run: |
                az acr login --name $acr-username

            - name: Docker login to ACR
              run: |
                docker login $acr-username.azurecr.io \
                -u $acr-username \
                -p $acr-pass

            - name: Push Docker Image to ACR
              run: |
                docker tag $APP_NAME:$IMAGE_TAG $acr-username.azurecr.io/$APP_NAME:$IMAGE_TAG
                docker push $acr-username.azurecr.io/$APP_NAME:$IMAGE_TAG 

